<h2>{{user.fullName}} Profile Area</h2>

<p>Name and LastName: {{user.fullName}}</p>
<p>Email: {{user.email}}</p>
<p>Google ID: {{user.googleID}}</p>
<p>Slack ID: {{user.slackID}}</p>

<a href="/profile/edit">Edit profile</a>